.top_head{
    background-color: #eee;
    height: 260px;
}
.hr_style{
    margin-top: 8px;
    margin-bottom: 0px;
}
.india{
    padding: 0;
    font-size: 1px;
    background-color: #eee;
}